@font-face {
    font-family: 'QueensLand';
    src: url('../fonts/QueensLand.ttf');
}

@font-face {
    font-family: 'Domine';
    src: url('../fonts/Domine.ttf');
}

@font-face {
    font-family: 'Amontesa';
    src: url('../fonts/Amontesa.ttf');
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue.ttf');
}

@font-face {
    font-family: 'RULES';
    src: url('../fonts/RULES.ttf');
}

@font-face {
    font-family: 'LemonTuesday';
    src: url('../fonts/LemonTuesday.otf');
}

@font-face {
    font-family: 'Alegreya';
    src: url('../fonts/Alegreya.ttf');
}